{% extends 'base.html.twig' %}

{% set username = app.user.displayUsername %}

{% block body %}
    <h1>
        Hi {{ username }}
        <small>, what should we know about you ?</small>
    </h1>
    {#  PROFILE  #}
    <section>
        <div class="tile-vertical">
            <h4>Your profile's avatar</h4>
            <img class="avatar" src="{{ asset(avatar.filename | assetPath) }}" alt="{{ username }}'s avatar">
            {{ form_start(avatarForm) }}
            {{ form_widget(avatarForm) }}
            <input type="submit" value="Update">
            {{ form_end(avatarForm) }}
        </div>
        <div class="tile-vertical">
            <h4>Your public information</h4>
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            <input type="submit" value="Update">
            {{ form_end(userForm) }}
        </div>
    </section>
{% endblock %}